DEEPSEEK_API_KEY=
DEEPSEEK_BASE_URL=https://api.deepseek.com/v1
DEEPSEEK_MODEL=deepseek-chat

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT="chat"

BAIDU_API_URL=https://qianfan.baidubce.com/v2/ai_search/web_search
BAIDU_API_KEY=

WEATHER_API_URL=https://api.openweathermap.org/data/2.5/weather
WEATHER_API_KEY=

DATABASE_URI='mysql+pymysql://user:password@localhost:3306/langgraph'

QWEN_URL=http://localhost:11434
QWEN_MODEL=qwen2.5-coder:7b

NEO4J_URI=neo4j+ssc://your-instance.databases.neo4j.io
NEO4J_USERNAME=your-username
NEO4J_PASSWORD=
NEO4J_DATABASE=your-database
AURA_INSTANCEID=
AURA_INSTANCENAME=Instance01

zilliz_User=
zilliz_Password=
zilliz_url=https://your-instance.serverless.aws-eu-central-1.cloud.zilliz.com
